body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons i {
    font-size: 20px;
    color: #000;
}

.cart {
    position: relative;
}

.cart .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: blue;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.hero {
    position: relative;
    height: 500px; /* Điều chỉnh chiều cao của phần header tùy thích */
}

.hero-image {
    background-image: url('https://2.bp.blogspot.com/-HQJi6Wndnlk/WNnsuJa19QI/AAAAAAAABlI/I8I7SE8vamknH4g0X0G6D36hsv-9EctTgCLcB/s1600/nhung-mau-giay-nike-dep-nhat.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(184, 11, 118); /* Màu chữ trên ảnh */
}


.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.products {
    padding: 40px 20px;
    text-align: center;
}

.products h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.product-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 1rem;
    color: #007BFF;
}

footer {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: center;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 0;
}
